@font-face {
    font-family: 'Cocogoose';
    src: url('fonts/Cocogoose_trial_0.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}