.container{
    height: 100vh;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

.hero{
    background-image: url(../img/hero.jpg);
}

.products{
    background-image: url(../img/user-bg.jpg);
    display: table;
}

.products .row{
    top: 15%;
}

.platform{
    max-height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;
    margin: 50px 100px;
    position: relative;
}

.title{
    font-family: 'Cocogoose';
    font-size: 70px;
    color: white;
    margin-top: 40vh;
    margin-left: 100px;
}

#subtitle{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 25px;
    color: white;
    margin-left: 100px;
}

#header{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 25px;
    color: white;
    margin-top: 150px;
}

#subheader{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.buttons .btns{
    background: rgba(0,0,0,0.3);
    border: solid 1px white;
    border-radius: 50px;
    font-style: 25px;
    font-family: 'Montserrat';
    color: white;
    padding: 10px;
    width: 150px;
    margin-right: 20px;
    margin-top: 20px;
}

.buttons{
    margin-left: 100px;
}

.plats{
    display: table;
}

.plat-container{
    display: table-cell;
}

#about{
    background-image: url(../img/bg3.jpg);
    background-size: 100%;
    overflow: hidden;
}

#contact{
    background-image: url(../img/japan.gif);
    background-size: 100%;
    overflow: hidden;
}

.fnt{
    font-family: 'Montserrat';
    font-size: 30px;
}

.smallcontainer{
    height: 60vh;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

.darkbox{
    font-family: 'Montserrat';
    font-size: 15px;
    background: rgba(0,0,0,0.7);
    color: white;
    width: 35vw;
    height: 33vh;
    padding: 30px;
    border-radius: 5px;
    margin-left: 100px;
}