@font-face {
    font-family: 'Cocogoose';
    src: url('fonts/Cocogoose_trial_0.otf');
    font-weight: normal;
    font-style: normal;
}


.nav{
	/*background: rgba(255,255,255, 0.1);*/
	/*box-shadow: 0px 1px 10px rgba(0,0,0,.3);*/
	width: 100%;
    height:100px;
    position:fixed;
    top:0px;
}

.logo{
	float: left;
	max-height: 60px;
	margin-top: 10px;
}


/*full screen menu*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    padding-right: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    /*background-color: rgba(0,0,0, 0.9);*/
    background-image: url(../img/menu.gif);
    background-size: 100%;
    opacity: 0.9;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content a{
    font-family: 'Cocogoose';
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu{
	font-size:30px;
	cursor:pointer;
	color:white;
    float: right;
    margin-right: 40px;
	margin-top: 20px
}