.separator{
	height: 100px;
}

.itempage{
	background-image: url(../img/user-bg.jpg);
	height: 70vh;
	overflow: scroll;
}

.orderpage{
	background-image: url(../img/chunli.jpg);	
	overflow: auto;

}

.orderpage h3{
	color: white;
}

.filters{
	color: rgba(0,200,120,1);
}

.itemtable{
	color: #999;
	/*overflow: scroll;*/
}

.coverimg{
	max-height: 150px;
}

.searchbar{
	left: 0;
	right: 0;
	padding: 5px;
	margin-left: 5vw;
	background: none;
	border: solid 1px white;
	color: white;
}

.content .itemtable{
	width: 80vw;
	margin-top: 15vh;
	margin-left: 100px;
	margin-right: 100px;
}

.btnbuy{
	width: 80px;
	border-radius: 50px;
	border-color: 
}

.btns{
    background: rgba(0,0,0,0.3);
    border: solid 1px white;
    border-radius: 50px;
    font-style: 25px;
    font-family: 'Montserrat';
    color: white;
    padding: 10px;
    width: 150px;
    margin-right: 20px;
    margin-top: 20px;
}

.newitem{
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}

.form-control{
	background: rgba(0,0,0,0.4);
	color: #ccc;
	resize: none;
}

.newitem input{
}