.container{
    height: 100vh;
    width: 100%;
    background-size: auto;
    background-image: url(../img/user-bg.jpg);
    background-repeat: no-repeat;
}

#name{
	font-family: 'Cocogoose';
	color: white;
}

.content{
	padding-left: 50px;
	padding-right: 30px;
}

.separator{
	height: 100px;
}

.userinv{
	color: white;
}

.userinv tr:nth-of-type(odd), .userinv tr:nth-of-type(even){
	background: rgba(0,0,0,0.2);
}

.table-striped>tbody>tr:nth-of-type(odd){
	background: rgba(0,0,0,0.2);
}